/*Selector de etiquetas*/
h1 {
    color:rgb(255, 217, 0);
}
h2 {
    color:blue
}
/*Selector de clase*/
.oscuro{
    background-color:black;
    color:white;
}
/*Selector ID*/
#p1{
    color:green;
}
header {
    background-image: url("./cala.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 3rem 1rem;
  }
  footer {
    background-color: #8b5e3c;
    color: #fff8ec;
    text-align: center;
    padding: 1rem;
  }
  
  footer a {
    color: #fff8ec;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin: 0 0.5rem; 
    font-size: 1.8rem; 
    display: inline-block; 
  }
  
  footer a:hover {
    color:lightblue;
  }