body{
background-color: gray;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

strong{
    color:lightblue
}

header, footer {
     background-color: black;
     color: white;
     text-align: center;
     padding: 0.5rem;
     }
     nav {
     background-color: red;
     padding: 1rem;
     display: flex;
     justify-content: center;
     gap: 2rem;
     }
     nav a {
     text-decoration: none;
     color: black; }